<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Нұр Отан</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="Keywords" content="Партия Нур Отан, Нұр Отан, Нуротан, Нұротан, Нур-Отан, Нұр-Отан, Партия, Назарбаев, Нурсултан Назарбаев, Кұл-Мухаммед, Мухтар Кул-Мухаммед, Казахстан, новости Казахстана">
	<meta name="yandex-verification" content="0bd9cf35619aeb10">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="shortcut icon" href="/custom/img/favicon.ico" type="image/vnd.microsoft.icon">

	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">

	<link rel="stylesheet" href="/custom/css/normalize.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/custom/css/owl.carousel.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/custom/css/main.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/custom/css/style.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/custom/css/sardor-styles.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/custom/plugins/font-awesome/css/font-awesome.min.css" charset="utf-8">
	<link rel="stylesheet" href="/custom/plugins/rrssb/css/rrssb.css" charset="utf-8">
	<script src="//api.filestackapi.com/filestack.js" charset="utf-8"></script>

	<script src="https://ucarecdn.com/widget/2.10.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
	<script>
		UPLOADCARE_PUBLIC_KEY = 'd6392098c6da3fb1b694';
		UPLOADCARE_LOCALE = 'ru';

		filepicker.setKey("AcxOomwCfQB6LXXUAHNo5z");
	</script>
	<script src="https://yastatic.net/share2/share.js" async="async"></script>
</head>
