#moderator-news-iframe, #moderator-news-modal-iframe {
    height: 480px;
    width: 100%;
    background: white;
    border: 2px solid black;
    padding: 10px;
    overflow-y: hidden;
}

#moderator-news-modal-iframe {
  position: absolute;
  left: 0;
}

#user-lock {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: transparent;
  z-index: 99999;
}

.fp__overlay {
  z-index: 2000 !important;
}

.cke_dialog_body {
  z-index: 99999999 !important;
}


#filepicker_dialog_container {
  z-index: 99999;
}
